<div>
  <div class="section">
    <div class="default-content">
      <p><a href="/"><img src="https://www.nissanusa.com/content/dam/Nissan/us/Navigation/sitesimp/nissan-logo-black.svg" alt="Nissan Logo">Nissan</a></p>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="default-content">
      <ul>
        <li>
          <p>Vehicles</p>
          <ul>
            <li><a href="/vehicles/crossovers-suvs">Crossovers &amp; SUVs</a></li>
            <li><a href="/vehicles/trucks">Trucks</a></li>
            <li><a href="/vehicles/cars">Cars</a></li>
            <li><a href="/vehicles/electric-cars">Electric Vehicles</a></li>
            <li><a href="/vehicles/sports-cars">Sports Cars</a></li>
          </ul>
        </li>
        <li>
          <p>Shop</p>
          <ul>
            <li><a href="/shopping-tools/build-price">Build &amp; Price</a></li>
            <li><a href="/shopping-tools/search-inventory">Search Inventory</a></li>
            <li><a href="/shopping-tools/deals-incentives-offers">Deals &amp; Offers</a></li>
            <li><a href="/shopping-tools/lease-finance-payment-calculator">Estimate Payments</a></li>
          </ul>
        </li>
        <li>
          <p>Electrified</p>
          <ul>
            <li><a href="/vehicles/electric-cars/leaf">LEAF</a></li>
            <li><a href="/vehicles/crossovers-suvs/rogue-plug-in-hybrid">Rogue Plug-in Hybrid</a></li>
          </ul>
        </li>
        <li>
          <p>Owners</p>
          <ul>
            <li><a href="/owners">My Nissan</a></li>
            <li><a href="/recalls-vin">Recalls</a></li>
            <li><a href="/owners/service-maintenance">Service &amp; Maintenance</a></li>
          </ul>
        </li>
        <li><p><a href="/dealers">Dealers</a></p></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="default-content">
      <p><a href="/shopping-tools/build-price">Build &amp; Price</a></p>
    </div>
  </div>
</div>
