.carousel-vehicle .carousel-vehicle-slides-container {
  position: relative;
}

.carousel-vehicle .carousel-vehicle-slides,
.carousel-vehicle .carousel-vehicle-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-vehicle .carousel-vehicle-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel-vehicle .carousel-vehicle-slides::-webkit-scrollbar {
  display: none;
}

.carousel-vehicle .carousel-vehicle-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: min(50vw, calc(100dvh - var(--header-height)));
  background-color: var(--color-background-shaded);
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content {
  z-index: 1;
  margin: var(--spacing-xl);
  padding: var(--spacing-l);
  color: var(--color-nissan-white);
  background-color: rgb(19 19 19 / 75%);
  position: relative;
  border-radius: 8px;
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content h2,
.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content h3 {
  color: var(--color-nissan-white);
  font-family: var(--font-family-light);
  font-size: var(--heading-font-size-xl);
  margin: 0 0 var(--spacing-s);
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content p {
  color: var(--color-nissan-white);
  font-size: var(--body-font-size-l);
  margin: 0 0 var(--spacing-m);
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content a {
  color: var(--color-nissan-white);
  border: 1px solid var(--color-nissan-white);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  display: inline-block;
  text-decoration: none;
  font-size: var(--button-font-size);
  transition: var(--button-transition);
  margin-right: var(--spacing-s);
}

.carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content a:hover {
  background-color: var(--color-nissan-white);
  color: var(--color-nissan-dark);
}

.carousel-vehicle .carousel-vehicle-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: 12px;
  background-color: var(--color-background-shaded);
  line-height: 0;
}

.carousel-vehicle .carousel-vehicle-slide-indicator button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-border);
  border: none;
  transition: background-color 0.2s;
}

.carousel-vehicle .carousel-vehicle-slide-indicator button:disabled,
.carousel-vehicle .carousel-vehicle-slide-indicator button:hover,
.carousel-vehicle .carousel-vehicle-slide-indicator button:focus-visible {
  background-color: var(--color-text);
}

.carousel-vehicle .carousel-vehicle-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-vehicle .carousel-vehicle-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: rgb(19 19 19 / 25%);
  transition: background-color 0.2s;
}

.carousel-vehicle .carousel-vehicle-navigation-buttons button:hover,
.carousel-vehicle .carousel-vehicle-navigation-buttons button:focus-visible {
  background-color: rgb(19 19 19 / 75%);
}

.carousel-vehicle .carousel-vehicle-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid white;
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel-vehicle .carousel-vehicle-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

@media (width >= 600px) {
  .carousel-vehicle .carousel-vehicle-navigation-buttons {
    left: 24px;
    right: 24px;
  }

  .carousel-vehicle .carousel-vehicle-slide .carousel-vehicle-slide-content {
    width: calc((100% - 184px) / 2);
    margin: 92px;
  }
}
